.gist {
  background-color: bisque;
  flex-basis: 30%;
  padding: 2rem;
  flex-grow: 0;
  overflow: hidden;
}
.gist__user {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
.user__name--limit {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80%;
  overflow: hidden;
  vertical-align: middle;
}
.user__avatar {
  flex-shrink: 0;
  width: 20%;
  height: 20%;
  margin-right: 1.2rem;
}
.user__avatar img {
  border-radius: 50%;
}

.user__info {
  display: flex;
  flex-direction: column;
}
.gist__desc {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  text-overflow: ellipsis;
  border-radius: 3px;
  padding: 1.2rem;
  max-height: 8rem;
}
@media (max-width: 700px) {
  .gist {
    flex-basis: 100%;
  }
}
